body{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: arial;
}
#body_paginaCadastro{
  background-image: url("../../img/estudantes.jpg");
}
#body_paginaNovoArtigo{
  background-image: url("../../img/estudantes.jpg");
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: #faf;
}
header{
  background-color: #bbbb0f;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
nav{
  background-color: #000032;
  color: #fff;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
}
#asideLeft{
  float: left;
  margin: 10px;
  border: 3px solid #000;
  background-color: #fff;
  height: 300px;
  width: 325px;
}
#asideRight{
  float: right;
  margin: 10px;
  border: 3px solid #000;
  background-color: #fff;
  height: 175px;
  width: 275px;
}
.thumbnail-wrapper {
    display:inline-block;
    position:relative;
}
.thumbnail-wrapper #button1 {
    height: 70px;
    width: 215px;
    font-size: 20px;
    position:absolute;
    top:50%;
    left:40%;
    -webkit-transform:translate3d(-50%, -50%, 0);
    -moz-transform:translate3d(-50%, -50%, 0);
    transform:translate3d(-50%, -50%, 0);
    background-color: #000032;
}
.thumbnail-wrapper #button2 {
    height: 70px;
    width: 215px;
    font-size: 20px;
    position:absolute;
    top:50%;
    left:60%;
    -webkit-transform:translate3d(-50%, -50%, 0);
    -moz-transform:translate3d(-50%, -50%, 0);
    transform:translate3d(-50%, -50%, 0);
    background-color: #000032;
}
#photo{
  border: 3px solid #000;
}
#sair{
  color: #000;
}
#sair:hover{
  color: #a0a;
}
#table_paginaNovoArtigo{
  margin-top: 200px;
  border: 3px solid #000;
  background-color: #fff;
}
